.search_result_area {
  display: flex;
  flex-direction: column;
  gap: var(--size-f-02);
  width: calc(100% - 240px - var(--size-f-04));
  padding: var(--size-f-04);
  background-color: var(--color-bg-primary);
  border-radius: var(--radius-m);
}
